<div id="canvas">

  <% if flash[:notice] %>
    <div class="anim_fadeout btn btn-secondary">
      <%= flash[:notice] %>
    </div>
  <% end %>

  <div id="schedule" class="text-center">
    <div class="bg-secondary p-2 text-white fw-bold">
      スケジュール
    </div>

    <% @schedules.each do |schedule| %>
      <div class="panel_gray m-2 fw-bold">
        <div class="text-dark">
          <% if schedule[:time_left] <= 0 %>
            現在
          <% else %>
            <%= schedule[:time_left] %>時間後
          <% end %>
        </div>
        <div class="text-black-50">
          <%= schedule[:start_time_string] %>
        </div>
        <div class="d-flex justify-content-around">
          <% schedule[:modes].each do |mode| %>
            <div class="col-4 p-1 <%= mode[:mode_name] %>">
              <div class="text-white"><%= mode[:rule_name] %></div>
              <% mode[:maps].each do |map| %>
                <%= link_to map[:map_name],
                  search_posts_path(map: map[:map_id], rule: mode[:rule_id]),
                  class:'text-black-50 text-decoration-none p-1 text-break mt-1',
                  data: {"turbolinks"=>false}
                %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>

  </div>
</div>

<div id="maplist" class="text-center">
  <div class="bg-secondary p-2 text-white fw-bold">マップ一覧</div>
  <% if @maps.present? %>
    <% @maps.each do |map| %>
      <%= link_to map.name, search_posts_path(map: map.id), class:'d-block panel_gray m-2 text-black-50 text-decoration-none', data: {"turbolinks"=>false} %>
    <% end %>
  <% end %>
</div>
