<div class="panel_gray">
  <h3 class="show_username"><%= @post.user.nickname %> さんのメモ</h3>
  <ul class="show_taglist">
    <li>#<%= @post.map.name %></li>
    <li>#<%= @post.rule.name %></li>
    <li>#<%= @post.weapon.name %></li>
  </ul>

  <div class="panel_io"></div>
  <div id="io_tgt" class="panel_gray pt-2 pb-2 text-center">
    <div id="like_button_<%= @post.id %>">
      <%= render 'shared/likebutton', post: @post %>
    </div>
  </div>

  <div class="p-1 m-1 border border-secondary">
    <div>
      <%= @post.description %>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'io_setting' %>
<%= javascript_pack_tag 'embed_setting' %>
